<!DOCTYPE html>
<html dir="@ViewBag.Dir" lang="@ViewBag.Lang">@*<html lang="en">*@
<head>
    <meta charset="utf-8">
    <title>Limo - HTML5 E-Commerce Template</title>
    <!--SEO Meta Tags-->
    <meta name="description" content="Responsive HTML5 E-Commerce Template" />
    <meta name="keywords" content="responsive html5 template, e-commerce, shop, bootstrap 3.0, css, jquery, flat, modern" />
    <meta name="author" content="8Guild" />
    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!--Master Slider Styles-->
    <link href="~/masterslider/style/masterslider.css" rel="stylesheet" media="screen">
    <!--Styles-->
    <link href="~/css/styles.css" rel="stylesheet" media="screen">
    @*<link rel="stylesheet" href="~/css/colors/color-scheme3.css">*@
    <link rel="stylesheet" href="@Href(@ViewBag.colorScheme)">


    <!--Modernizr-->
    <script src="~/js/libs/modernizr.custom.js"></script>
    <!--Adding Media Queries Support for IE8-->
    <!--[if lt IE 9]>
      <script src="js/plugins/respond.js"></script>
    <![endif]-->
</head>
<body>
    @*<h1>@ViewBag.colorScheme</h1>*@
    <!--Login Modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h2>Login or <a href="register.html">Register</a></h2>
                    <p class="large">Use social accounts</p>
                    <div class="social-login">
                        <a class="facebook" href="#"><i class="fa fa-facebook-square"></i></a>
                        <a class="google" href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="login-form">
                        <div class="form-group group">
                            <label for="log-email">Email</label>
                            <input type="email" class="form-control" name="log-email" id="log-email" placeholder="Enter your email" required>
                            <a class="help-link" href="#">Forgot email?</a>
                        </div>
                        <div class="form-group group">
                            <label for="log-password">Password</label>
                            <input type="text" class="form-control" name="log-password" id="log-password" placeholder="Enter your password" required>
                            <a class="help-link" href="#">Forgot password?</a>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Remember me</label>
                        </div>
                        <input class="btn btn-black" type="submit" value="Login">
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--Header-->
    <header data-offset-top="500" data-stuck="600">
        <!--data-offset-top is when header converts to small variant and data-stuck when it becomes visible. Values in px represent position of scroll from top. Make sure there is at least 100px between those two values for smooth animation-->
        <!--Search Form-->
        <form class="search-form closed" method="get" role="form" autocomplete="off">
            <div class="container">
                <div class="close-search"><i class="icon-delete"></i></div>
                <div class="form-group">
                    <label class="sr-only" for="search-hd">Search for product</label>
                    <input type="text" class="form-control" name="search-hd" id="search-hd" placeholder="Search for product">
                    <button type="submit"><i class="icon-magnifier"></i></button>
                </div>
            </div>
        </form>

        <!--Mobile Menu Toggle-->
        <div class="menu-toggle"><i class="fa fa-list"></i></div>

        <div class="container" dir="ltr">
            <a class="logo" href='@Url.Action("Index","Home",new { bizId = @ViewBag.bizId, lg = @ViewBag.lg, catId=0, subId=0, id = @ViewBag.id })'><img src="~/img/logo-scheme5.png" alt="Limo" /></a>
        </div>

        <!--Main Menu-->
        <nav class="menu" dir="ltr">
            <div class="container">

                <ul class="main">
                    
                    <li id="lgSetting" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.FirstLgName<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (var e in ViewBag.SettingLgModel)
                            {
                                <li>
                                    @Html.ActionLink((string)e.Name, "Index", (string)@ViewBag.controllerName,
                                    new
                                    {
                                        bizId   = @ViewBag.bizId,
                                        lg      = e.Value,
                                        catId   = @ViewBag.catId,
                                        subId   = @ViewBag.subId,
                                        id      = @ViewBag.id
                                    }, null)
                                </li>
                            }
                        </ul>
                    </li>

                </ul>

            </div>

            <div class="catalog-block">
                <div class="container">
                    <ul class="catalog">
                        @foreach (var e in @ViewBag.MenuCatModel)
                        {
                            @*<li><a href="shop-filters-left-3cols.html">@e.category</a></li>*@
                            <li>
                                @Html.ActionLink((string)e.category, "Index", "Portfolio",
                                    new { bizId = @ViewBag.bizId, lg = @ViewBag.lg, catId = @e.catId }, null)
                            </li>
                        }
                        @*<li><a href="shop-filters-left-3cols.html">Shoulder Bag</a></li>*@
                    </ul>
                </div>
            </div>
        </nav>

        <div class="toolbar-container">
            <div class="container">
                <!--Toolbar-->
                <div class="toolbar group">
                    <a class="login-btn btn-outlined-invert" href="#" data-toggle="modal" data-target="#loginModal"><i class="icon-profile"></i> <span><b>L</b>ogin</span></a>

                    <a class="btn-outlined-invert" href="wishlist.html"><i class="icon-heart"></i> <span><b>W</b>ishlist</span></a>

                    <div class="cart-btn">
                        <a class="btn btn-outlined-invert" href="shopping-cart.html"><i class="icon-shopping-cart-content"></i><span>3</span><b>36 5654</b></a>

                        <!--Cart Dropdown-->
                        <div class="cart-dropdown">
                            <span></span><!--Small rectangle to overlap Cart button-->
                            <div class="body">
                                <table>
                                    <tr>
                                        <th>Items</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                    <tr class="item">
                                        <td><div class="delete"></div><a href="#">Good Joo-Joo Surfb</a></td>
                                        <td><input type="text" value="1"></td>
                                        <td class="price">89 005 $</td>
                                    </tr>
                                    <tr class="item">
                                        <td><div class="delete"></div><a href="#">Good Joo-Joo Item</a></td>
                                        <td><input type="text" value="2"></td>
                                        <td class="price">4 300 $</td>
                                    </tr>
                                    <tr class="item">
                                        <td><div class="delete"></div><a href="#">Good Joo-Joo</a></td>
                                        <td><input type="text" value="5"></td>
                                        <td class="price">84 $</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="footer group">
                                <div class="buttons">
                                    <a class="btn btn-outlined-invert" href="checkout.html"><i class="icon-download"></i>Checkout</a>
                                    <a class="btn btn-outlined-invert" href="shopping-cart.html"><i class="icon-shopping-cart-content"></i>To cart</a>
                                </div>
                                <div class="total">93 389 $</div>
                            </div>
                        </div><!--Cart Dropdown Close-->
                    </div>

                    <button class="search-btn btn-outlined-invert"><i class="icon-magnifier"></i></button>
                </div><!--Toolbar Close-->
            </div>
        </div>
    </header><!--Header Close-->
        
    @RenderBody()

    <div class="container">

        <hr>

        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="info">
                            <a class="logo" href="index.html"><img src="~/img/logo-footer.png" alt="Limo" /></a>
                            <p>fred Describe the mission of your online store and the advantages a customer can get once he makes a purchase. If you have something to tell let customers know about it.</p>
                            <div class="social">
                                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-youtube-square"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-tumblr-square"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h2>Latest news</h2>
                        <ul class="list-unstyled">
                            <li>25 of May <a href="#">new arrivals in Spring</a></li>
                            <li>24 of April <a href="#">5 facts about clutches</a></li>
                            <li>25 of May <a href="#">new arrivals in Spring</a></li>
                            <li>24 of April <a href="#">5 facts about clutches</a></li>
                        </ul>
                    </div>
                    <div class="contacts col-lg-3 col-md-3 col-sm-3">
                        <h2>Contacts</h2>
                        <p class="p-style3">
                            4120 Lenox Avenue, New York, NY,<br />
                            10035 76 Saint Nicholas Avenue<br />
                            <a href="mailto:mail@Limo.com">mail@Limo.com</a><br />
                            +48 543765234<br />
                            +48 555 234 54 34<br />
                        </p>
                    </div>
                </div>
                <div class="copyright">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <p>&copy; 2014 Limo. All Rights Reserved. Designed by <a href="http://8guild.com/" target="_blank">8Guild</a></p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="payment">
                                <img src="~/img/payment/visa.png" alt="Visa" />
                                <img src="~/img/payment/paypal.png" alt="PayPal" />
                                <img src="~/img/payment/master.png" alt="Master Card" />
                                <img src="~/img/payment/discover.png" alt="Discover" />
                                <img src="~/img/payment/amazon.png" alt="Amazon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--Footer Close-->


    </div>
    <!-- /.container -->
    <!--Javascript (jQuery) Libraries and Plugins-->
    <script src="~/js/libs/jquery-1.11.1.min.js"></script>
    <script src="~/js/libs/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/js/libs/jquery.easing.min.js"></script>
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <script src="~/js/plugins/smoothscroll.js"></script>
    <script src="~/js/plugins/jquery.validate.min.js"></script>
    <script src="~/js/plugins/icheck.min.js"></script>
    <script src="~/js/plugins/jquery.placeholder.js"></script>
    <script src="~/js/plugins/jquery.stellar.min.js"></script>
    <script src="~/js/plugins/jquery.touchSwipe.min.js"></script>
    <script src="~/js/plugins/jquery.shuffle.min.js"></script>
    <script src="~/js/plugins/jquery.nouislider.min.js"></script>
    <script src="~/js/plugins/lightGallery.min.js"></script>
    <script src="~/js/plugins/owl.carousel.min.js"></script>
    <script src="~/js/plugins/masterslider.min.js"></script>

    <script src="~/mailer/mailer.js"></script>
    <script src="~/js/scripts.js"></script>

    

    @*@ServerInfo.GetHtml()*@

</body>
</html>