@{
    ViewBag.Title = "Home";
}

<!--Page Content-->
<div class="page-content">

    <!--Hero Slider-->
    <section class="hero-slider">
        <div class="master-slider" id="hero-slider" dir="ltr">

        @foreach (var e in ViewBag.Slider)
        {
            var imgpath = @ViewBag.aspPath + @e.imageFileName;
            <!--Slide -->
            <div class="ms-slide" data-delay="7" >
                <div class="overlay"></div>
                <img src="@imgpath" alt=""/>
                <h2 style="width: 456px; left: 110px; top: 110px;" class="white-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">@e.name</h2>
                <h3 style="width: 456px; left: 110px; top: 180px;" class="white-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">@Html.Raw(@e.descPdt)</h3>
                @*<div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="left(50,true)" data-duration="500" data-delay="750" data-ease="easeOutQuad"><a class="btn btn-black" href="#">Go to catalog</a></div>*@
                @*<div style="left: 350px; top: 300px;" class="ms-layer button" data-effect="bottom(50,true)" data-duration="700" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#">Browse all</a></div>*@
            </div>
        }

        </div>
    </section><!--Hero Slider Close-->
    <!--Categories-->
    <section class="cat-tiles"> @*white-bg gallery-widget*@
        <div class="container">
            @*<h1>@ViewBag.browseCategories</h1>*@ 
            <div class="row">
                @{int i = 0;}
                @foreach (var e in ViewBag.MenuCatModel)
                {
                    <!--Category-->
                       if (i == 0 && ViewBag.MenuCatModel.Count <= 3)
                       {
                            <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6 col-md-offset-3">
                                <a href='@Url.Action("Index",(string)ViewBag.PortfolioController,
                                new{bizId=@e.bizId, lg=@ViewBag.lg, catId=@e.catId})'>
                            <img src="http://localhost:2245/admin/FileStore/@e.ifnsmall" alt="1" />
                            <h3>@e.category</h3>
                        </a>
                    </div>
                }
                       else
                       {
                        <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
                            <a href='@Url.Action("Index",(string)ViewBag.PortfolioController,
                                    new { bizId = @e.bizId, lg = @ViewBag.lg, catId = @e.catId })'>
                                <img src="http://localhost:2245/admin/FileStore/@e.ifnsmall" alt="1" />
                                <h3>@e.category</h3>
                    </a>
                        </div>
                       }
                       i++;

                   }
                </div>
            </div>
    </section><!--Categories Close-->
  
    <!--Page Content-->
    <div class="page-content">

        @Html.Raw(@ViewBag.PageDataModel)

        </div>
    <!--Page Content Close-->


    <!--Gallery Widget-->
    <section class="white-bg gallery-widget">
        <div class="container">
           @*<h1>@ViewBag.productGallery</h1>*@
            @*
            <div class="filters">
                <a class="active" href="#" data-group="all">All</a>
                <a href="#" data-group="City bags">City bags</a>
                <a href="#" data-group="Gloves">Gloves</a>
                <a href="#" data-group="Belts">Belts</a>
                <a href="#" data-group="video">Clutch</a>
            </div>*@
            <div class="gallery-grid">
                <!--Item-->
                @foreach (var e in ViewBag.Gallery)
                {
                <div class="gallery-item" data-groups='["City bags"]' data-src="http://localhost:2245/admin/FileStore/@e.imageFileName">
                    <a href="http://localhost:2245/admin/FileStore/@e.ifnsmall">
                        <div class="overlay"><span><i class="icon-expand"></i></span></div>
                        <img src="/admin/FileStore/@e.imageFileName" alt="1" />
                    </a>
                </div>
                }
                
            </div>
        </div>
    </section><!--Gallery Widget Close-->
    
    @*<!--Brands Carousel Widget-->
    <section class="brand-carousel">
        <div class="container">
            <h2>Brands in our shop</h2>
            <div class="inner">
                <a class="item" href="#"><img src="~/img/brands/1.png" alt="1" /></a>
                <a class="item" href="#"><img src="~/img/brands/1.png" alt="1" /></a>
                <a class="item" href="#"><img src="~/img/brands/1.png" alt="1" /></a>
                <a class="item" href="#"><img src="~/img/brands/1.png" alt="1" /></a>
                <a class="item" href="#"><img src="~/img/brands/1.png" alt="1" /></a>
                <a class="item" href="#"><img src="~/img/brands/1.png" alt="1" /></a>
                <a class="item" href="#"><img src="~/img/brands/1.png" alt="1" /></a>
            </div>
        </div>
    </section><!--Brands Carousel Close-->*@

</div><!--Page Content Close-->

<!--Sticky Buttons-->
<div class="sticky-btns">
    <form class="quick-contact ajax-form" method="post" name="quick-contact">
        <h3>Contact us</h3>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
        <div class="form-group">
            <label for="qc-name">Full name</label>
            <input class="form-control input-sm" type="text" name="name" id="qc-name" placeholder="Enter full name">
        </div>
        <div class="form-group">
            <label for="qc-email">Email</label>
            <input class="form-control input-sm" type="email" name="email" id="qc-email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="qc-message">Your message</label>
            <textarea class="form-control input-sm" name="message" id="qc-message" placeholder="Enter your message"></textarea>
        </div>
        <!-- Validation Response -->
        <div class="response-holder"></div>
        <!-- Response End -->
        <input class="btn btn-black btn-sm btn-block" type="submit" value="Send">
    </form>
@if (ViewBag.bizId != 80093)
{
    <span id="qcf-btn"><i class="fa fa-envelope"></i></span>
}
    <span id="scrollTop-btn"><i class="fa fa-chevron-up"></i></span>
</div><!--Sticky Buttons Close-->


@*<!--Subscription Widget-->
<section class="subscr-widget gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-8">
                <h2>Subscribe to our news</h2>
                <form class="subscr-form" role="form" autocomplete="off">
                    <div class="form-group">
                        <label class="sr-only" for="subscr-name">Enter name</label>
                        <input type="text" class="form-control" name="subscr-name" id="subscr-name" placeholder="Enter name" required>
                        <button class="subscr-next"><i class="icon-arrow-right"></i></button>
                    </div>
                    <div class="form-group fff" style="display: none">
                        <label class="sr-only" for="subscr-email">Enter email</label>
                        <input type="email" class="form-control" name="subscr-email" id="subscr-email" placeholder="Enter email" required>
                        <button type="submit" id="subscr-submit"><i class="icon-check"></i></button>
                    </div>
                </form>
                <p class="p-style2">Please fill the field before continuing</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1">
                <p class="p-style3">Get more followers. In case of high quality newsletters the customers return rate can increase up to 20%! Have you already estimated your possible income? We took that into account and created a decent subscription form. </p>
            </div>
        </div>
    </div>
</section><!--Subscription Widget Close-->*@
